@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.calculator {
  position: relative;
  display: grid;
  z-index: 1;
}
.calculator .value {
  grid-column: span 6;
  height: 100px;
  text-align: right;
  outline: none;
  padding: 10px;
  font-size: 30px;
  z-index: 1;
}
.calculator button {
  display: grid;
  width: 80px;
  height: 100px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator button:active {
  background: rgb(26, 133, 175);
  color: #111;
}
.calculator .numclear {
  background: rgb(252, 45, 45);
  font-size: 23px;
}
.calculator button.plus {
  grid-row: span 2.5;
  height: 100px;
}
.calculator button.equal {
  background: orange;
 
}

html {
  background: #fff;
}

body {
  background: #eee;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}
.num{
  font-size: 23px;
}

.overlay {
  padding: 1.5rem;
  height: 480px;
  position: absolute;
    z-index: auto;
    width: 28%;
    max-width: 1140px;
    max-height: 640px;
    padding: 10rem 2rem;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.particle {
	font-size: 180px;
	font-family: "arial", sans-serif;
	position: absolute;
	visibility: hidden;
}


svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px);
}
.container .welcome {
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
}

.container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.welcome {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: #000;
  position: relative;
  animation: text 3s 1;
}

.muzile {
  font-size: 40px;
  color: #000000;
  font-weight: bold;
}


/* .fadeOut {
  opacity: 1;
  font-size: 20px;
  animation: colorchange 5s infinite, translucid 5s infinite;
  position: fixed;
}

@keyframes textgrowth {
  from {
    opacity: 1;
    font-size: 20px;
  }
  to {
    opacity: 0.1;
    font-size: 30px;
  }
}

@keyframes translucid {
  0% {
   opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
} */
